package {{ ir.package }}.infrastructure.persistence.mappers;

import {{ ir.package }}.domain.entities.{{ entity.name }};
{% for comp in entity.compositions %}
import {{ ir.package }}.domain.entities.{{ comp.name }};
{% endfor %}
{% for agg in entity.aggregations %}
import {{ ir.package }}.domain.entities.{{ agg.name }};
{% endfor %}
import {{ ir.package }}.infrastructure.persistence.entities.{{ entity.name }}JpaEntity;
{% for comp in entity.compositions %}
import {{ ir.package }}.infrastructure.persistence.entities.{{ comp.name }}JpaEntity;
{% endfor %}
{% for agg in entity.aggregations %}
import {{ ir.package }}.infrastructure.persistence.entities.{{ agg.name }}JpaEntity;
{% endfor %}
import org.mapstruct.Mapper;
{% if entity.compositions or entity.aggregations %}
import org.mapstruct.Mapping;
{% endif %}

@Mapper(componentModel = "spring"{% if entity.compositions or entity.aggregations %}, uses = {
{% for comp in entity.compositions %}        {{ comp.name }}EntityMapper.class{% if not loop.last or entity.aggregations %},{% endif %}

{% endfor %}
{% for agg in entity.aggregations %}        {{ agg.name }}EntityMapper.class{% if not loop.last %},{% endif %}

{% endfor %}
}{% endif %})
public interface {{ entity.name }}EntityMapper {

    {{ entity.name }}JpaEntity toJpaEntity({{ entity.name }} domain);

    {{ entity.name }} toDomain({{ entity.name }}JpaEntity jpaEntity);
}
