package {{ ir.package }}.infrastructure.persistence.repositories;

import {{ ir.package }}.infrastructure.persistence.entities.{{ entity.name }}JpaEntity;
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;
import java.util.UUID;

@Repository
public interface {{ entity.name }}JpaRepository extends JpaRepository<{{ entity.name }}JpaEntity, UUID> {
}
