package {{ ir.package }}.domain.exceptions;

public class {{ entity.name }}NotFoundException extends EntityNotFoundException {
    public {{ entity.name }}NotFoundException(String message) {
        super(message);
    }
}
