package {{ ir.package }}.domain.exceptions;

public class {{ entity.name }}AlreadyExistsException extends EntityAlreadyExistsException {
    public {{ entity.name }}AlreadyExistsException(String message) {
        super(message);
    }
}
