{% if data.import_list %}import java.util.List; {% endif %}

public class {{ data.name | capitalize }} {% if data.parent %} extends {{ data.parent | capitalize }} {% endif %} {

    // Attributes
    {% for attr in data.attributes %}
    {{ attr.visibility }} {{ attr._type }} {{ attr.name }};
    {% endfor %}

    // Aggregation: List of related elements
    {% for aggregation in data.aggregations %}
    {{ aggregation.visibility }} List<{{ aggregation._type }}> {{ aggregation.name }};
    {% endfor %}
    
    // Composition: List of owned elements
    {% for composition in data.compositions %}
    {{ composition.visibility }} List<{{ composition._type | capitalize }}> {{ composition.name }};
    {% endfor %}
    
    // Constructeur
    public {{ data.name | capitalize}}() {
        // Default Initialisation
    }
    
    // Methods
    {% for method in data.methods %}
    {{ method.visibility }} {{ method._type }} {{ method.name }}({% for arg in method.args %}{{ arg._type }} {{ arg.name }}{% if not loop.last %}, {% endif %}{% endfor %}) {
        // To implement
    }
    {% endfor %}
}