package {{route}}.domain.entities;

import lombok.*;
import jakarta.persistence.*;
import org.hibernate.annotations.CreationTimestamp;
import org.hibernate.annotations.UpdateTimestamp;
import java.time.LocalDateTime;
import java.util.*;



@Entity
@Data
@NoArgsConstructor
@AllArgsConstructor
public class {{ class_data.name | capitalize}} {

    @Id
    @GeneratedValue(strategy = GenerationType.UUID)
    private UUID id;

    {% for attr in class_data.attributes %}
    {% if attr.name == 'id' %}
    {% continue %}
    {% endif %}
    {{attr.visibility}} {{ attr.type }} {{ attr.name }};
    {% endfor %}

    //TODO: Add relationships here


    @CreationTimestamp
    private LocalDateTime createdAt;

    @UpdateTimestamp
    private LocalDateTime updatedAt;



}