package {{route}}.domain.entities;

import lombok.*;
import jakarta.persistence.*;
import org.hibernate.annotations.CreationTimestamp;
import org.hibernate.annotations.UpdateTimestamp;
import java.time.LocalDateTime;
import java.util.*;

@Entity
@Data
@NoArgsConstructor
@AllArgsConstructor
public class {{ class_data.name | capitalize }} {

    @Id
    @GeneratedValue(strategy = GenerationType.UUID)
    private UUID id;

    {% for attr in class_data.attributes %}
    {% if attr.name != 'id' %}
    @Column(nullable = true) // Add specific constraints if needed
    private {{ attr.type }} {{ attr.name }};
    {% endif %}
    {% endfor %}

    // TODO: Add relationships here

    @CreationTimestamp
    private LocalDateTime createdAt;

    @UpdateTimestamp
    private LocalDateTime updatedAt;

}
